In [4]:
%use exposed
%use mysql(8.0.33)

In [5]:
try {

Database.connect("jdbc:mysql://localhost:33060/test", driver = "com.mysql.cj.jdbc.Driver",
                 user = "root", password = "secret")
transaction {
// Si llegamos aquí, la conexión se realizó con éxito
println("Conexión exitosa con la base de datos.")
}

} catch (ex: ClassNotFoundException) {
                                     // Excepción específica para problemas de clase no encontrada (driver JDBC)
println("Error: No se pudo encontrar el controlador JDBC.")
} catch (ex: Exception) {
                        // Otras excepciones generales
println("Error inesperado al conectar con la base de datos: ${ex.message}")
} finally {
    println("-----------")
}

Conexión exitosa con la base de datos.
-----------

In [6]:
object Cities: IntIdTable() {
    val name = varchar("name", 50)
}

In [7]:
 // leemos datos
transaction {
            // 'select *' SQL: SELECT Cities.id, Cities.name FROM Cities
val citiesList = Cities.selectAll().toList()

                 // Imprimir el contenido de la lista de ciudades
println("Cities:")
citiesList.forEach { city ->
println("ID: ${city[Cities.id]}, Name: ${city[Cities.name]}")
}
}

Cities:
ID: 1, Name: Madrid
ID: 2, Name: Málaga
ID: 3, Name: St. Petersburg
ID: 4, Name: Almería